<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<fieldset>
  <legend>Position</legend>
  <label for="top-selection"><input id="top-selection" name="myPosition" type="radio" [checked]="myPosition === 'top'" (click)="myPosition = 'top'" />Top</label>
  <label for="bottom-selection"><input id="bottom-selection" name="myPosition" type="radio" [checked]="myPosition === 'bottom'" (click)="myPosition = 'bottom'" />Bottom</label>
  <label for="left-selection"><input id="left-selection" name="myPosition" type="radio" [checked]="myPosition === 'left'" (click)="myPosition = 'left'" />Left</label>
  <label for="right-selection"><input id="right-selection" name="myPosition" type="radio" [checked]="myPosition === 'right'" (click)="myPosition = 'right'" />Right</label>
</fieldset>
<fieldset>
  <legend>Type</legend>
  <label for="tab-selection"><input id="tab-selection" name="myType" type="radio" [checked]="myType === 'tab'" (click)="myType = 'tab'" />Tab</label>
  <label for="button-selection"><input id="button-selection" name="myType" type="radio" [checked]="myType === 'button'" (click)="myType = 'button'" />Button</label>
  <label for="plain-selection"><input id="plain-selection" name="myType" type="radio" [checked]="myType === 'plain'" (click)="myType = 'plain'" />Plain</label>
  <label for="image-selection"><input id="image-selection" name="myType" type="radio" [checked]="myType === 'image'" (click)="myType = 'image'" />Image</label>
</fieldset>

<flexible-tabs [position]="myPosition" [type]="myType" message="click to select tab " (onchange)="ontabselection($event)">
  <flexible-tab *ngFor="let dummy of ' '.repeat(20).split(''), let x = index" title="tab {{x}}" tabicon="fa fa-bug" tabalticon="fa fa-coffee">
    <h3> information {{x}}</h3>
    This is a simple tab content that will be rendered immediately even if tab is not selected.  
  </flexible-tab>
  <flexible-tab title="tab 2" [template]="tab2" [data]="data" selected="true"></flexible-tab>
</flexible-tabs>

<ng-template #tab2 let-detail="data">
  <h3>Detail information about {{detail.name}}</h3>
  This is a simple tab content that will be rendered only if tab is selected.
</ng-template>

<ul class="logger">
  <li *ngFor="let x of events" [textContent]="x | json"></li>
</ul>